 [sources.docker_logs]
 type = "docker_logs"
 docker_host = "unix:///var/run/docker.sock"

[sources.app_logs]
type = "file"
include = ["/var/log/app/*.ndjson", "/var/log/app/*.log"]
read_from = "end"

[transforms.parse_docker]
type = "remap"
inputs = ["docker_logs"]
source = '''
  .timestamp = now()
  .container_name = .container_name
  .image = .image
  .stream = .stream
  .message = .message
  .source = "docker"
  .level = "info"
'''

[transforms.parse_app]
type = "remap"
inputs = ["app_logs"]
source = '''
  # Try to parse as JSON first (for .ndjson files)
  parsed, err = parse_json(.message)
  if err == null {
    . = merge!(., parsed)
    .timestamp = .@timestamp
    .level = downcase!(.level)
  } else {
    # Plain text logs
    .timestamp = now()
    .message = .message
    .level = "info"
  }
  .file = .file
  # Remove duplicate timestamp field if exists
  del(.@timestamp)
'''

[sinks.victoria_logs]
type = "http"
inputs = ["parse_app", "parse_docker"]
uri = "http://victoria-logs:9428/insert/jsonline"
compression = "gzip"
healthcheck.enabled = false

[sinks.victoria_logs.encoding]
codec = "json"

[sinks.victoria_logs.encoding.json]
pretty = false

[sinks.victoria_logs.framing]
method = "newline_delimited"

[sinks.victoria_logs.batch]
max_events = 1000
timeout_secs = 1

[sinks.victoria_logs.request]
headers.AccountID = "0"
headers.ProjectID = "0"
headers.VL-Msg-Field = "message"
headers.VL-Time-Field = "timestamp"
headers.VL-Stream-Fields = "application,level,logger_name"
